<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Browser stack Suite" parallel="tests">

  <test thread-count="5" name="iphone">
  <parameter name="browser" value="iphone"></parameter>
  <classes>
      <class name="broswerStackTest.ParallelTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="mac">
  <parameter name="browser" value="mac"></parameter>
    <classes>
      <class name="broswerStackTest.ParallelTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="xp">
  <parameter name="browser" value="mac"></parameter>
    <classes>
      <class name="broswerStackTest.ParallelTest"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
