<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/A17_AdditionalTest/src/additionalTest/A2_CloneTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="additionalTest.A2_CloneTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="A17_AdditionalTest"/>
</launchConfiguration>
