<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/A18_WebDriverTest/src/elementTest/A68_GetAllLinksTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="elementTest.A68_GetAllLinksTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="A18_WebDriverTest"/>
</launchConfiguration>
